{:webserver {:port              8080
             :join?             false
             :http?             true
             :max-idle-time     200000
             :ssl?              false
             :max-threads       10
             :min-threads       5
             :send-date-header? true
             :async?            true}

 :main-db   {:dbtype     "postgresql"
             :dbname     "health_maindb"
             :host       "127.0.0.1"
             :port       55006
             :user       "postgres"
             :password   "postgrespw"
             :ssl        false
             :sslfactory "org.postgresql.ssl.NonValidatingFactory"}

 :migrate   {:store                :database
             :migration-dir        "migrations/"
             :init-script          "init.sql"
             :init-in-transaction? false
             :migration-table-name "health.schema_migrations"
             :db                   {:dbtype   "postgres"
                                    :dbname   "health_maindb"
                                    :user     "postgres"
                                    :password "postgrespw"}}
 }
